@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.fomu{
    max-width: 400px;
    margin: 0 auto;
    font-size: 14px;
}
.fomu2{
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
}

ul.errorlist li{
    color: rgb(172, 7, 7);
    font-size: 14px;
}

.end-road{
    margin-right: 2rem;
    margin-left: .8rem;
}